<bea-shell [options]="beaShellOptions">
  <div class="container">
    <div class="controls">
      <h1></h1>
      <p></p>
      <h2>Topbar</h2>
      <button [class.selected]="beaShellOptions.topbar.disabled" (click)="toggleTopbarDisabled()">Disable</button>
      <h2>Sidebar</h2>
      <button [class.selected]="beaShellOptions.sidebar.disabled" (click)="toggleSidebarDisabled()">Disable</button>
      <button [class.selected]="beaShellOptions.sidebar.placement == 'right'" (click)="toggleSidebarPlacement()">Placement</button>
      <button [class.selected]="beaShellOptions.sidebar.alwaysExpandable" (click)="toggleSidebarAlwaysExpandable()">AlwaysExpandable</button>
      <!-- <button (click)="expandSidebar()">Expand</button> -->
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</bea-shell>