<!--The content below is only a placeholder and can be replaced.-->
<bea-shell [options]="beaShellOptions">
  <div class="container">
    <div class="controls">
      <h1></h1>
      <p></p>
      <h2>Topbar</h2>
      <button [class.selected]="beaShellOptions.topbar.disabled" (click)="toggleTopbar()">Toggle</button>
      <h2>Sidebar</h2>
      <button [class.selected]="beaShellOptions.sidebar.disabled" (click)="toggleSidebar()">Toggle</button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</bea-shell>